h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

h3 {
  color: #ee1c76;
  font-weight: bold;
}
.chooseOne{
  border-right: 1px solid yellow;
}
.menuItem {
  font-family: mexicanero;
}
.addButtonWrap{
  justify-content: center;
  background-color: #f0f2f5;
}
.orderMenu {
  background-color: #f0f2f5;
}



